.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(69, 157, 101);
    padding: 15px 20px;
    color: white;
}

.cabecalho_logo {
    margin-bottom: 0,5rem;
    height: 60px;
}

.logo {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

.menu a {
    font-size: 1.2em;
    color: White;
    text-decoration: none;
    padding: black;
}

.menu a:hover {
    background-color: white;
    border-radius: 4px;
    color: Black;
}

/*Responsivo para telas menores*/
@media (max-width: 568px) {

    .cabecalho {
        flex-direction: column;
        align-items: flex-start;
    }

    .cabecalho_logo {
        display: none;
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .menu li {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}